*{
    padding: 0px;
    margin: 0px;
}
.container{
    padding: 25px 100px;

}

.navbar li:hover{
    border-bottom: 2px solid rgb(122, 112, 108);
    transition-delay: 0.1s;
    cursor: pointer;
}

.row .card h6{
    position: absolute;
    top: 305px;
    right: 30px;
    font-size: 18px;
    color: #121212;
}
.card .btn{
    justify-content: right;
}

.section-title h2{
    justify-content: center;
    padding:3% 45%;
    font-size: 40px;
}

.section-title p{
    padding: 0 15%;
    font-size: 25px;
}

.row .card:hover{
    border: 5px solid rgb(128, 118, 118);
    border-radius: 20px;
    transition-duration: 0.2s;
}

.card .btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition-duration: 0.5s;
    
}
.conta{
    padding-top: 15px;
}

.conta img{
    width: 15%;
    height: 15%;
    margin:0 40%;
}

.conta1{
    padding-left: 30%;
    justify-content: center;
    align-items: center;
    display: block;
}
footer {
    text-align: center;
}
footer .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

footer .inner-content {
    margin-top: 30px;
    border-top: 1px solid rgb(238, 238, 238);
    padding: 60px 0px;
}

footer .inner-content p a {
    color: rgb(70, 80, 134);
    margin-left: 3px;
}

footer .inner-content a {
    text-decoration: none !important;
}

footer p{

    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(46, 42, 42);
    line-height: 24px;
}